.header-wrapper{
    background-color: white;
    padding: 5px 0px;
    position: fixed;
    top:0;
    width: 100%;
    box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
      z-index: 2;
}

.chats-body{
    padding: 10px 0;
    padding-top: 100px;
}

.chats-body .header,
.chats-body .status-bar{
    padding: 0px 20px;
}

.chats-body{    
    background-image: url(../images/chatbg.png.png);
    min-height:  1000vh;
}

.chat__write-container{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.chat__icon-left{
    position: absolute;
    left: 10px;
}

.chat__icon-right{
    position: absolute;
    right: 10px;
}

@keyframes float{
    0%{
        box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.3),
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    }
    50%{
        box-shadow: 0 18px 36px -60px rgba(0, 0, 0, 0.3),
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    }
    100%{
        box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.3),
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);

    }
}

.chat__write{
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    border-radius: 0;
    padding: 20px 60px;
    border: none;
    width: 100%;
    font-size: 14px;
    transition: width .5s ease-in-out, border-radius .5s ease-in-out,
        transform .5s ease-in-out; 
}

.chat__write:focus{
    outline: none;
    width: 80%;
    transform: translateY(-20px);
    border-radius: 40px;
    box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    animation: float 3s linear infinite forwards;
}

.chat__icon{
    font-size: 22px;
    transition: opacity 0.5s ease-in-out;
}

.chat__write:focus ~ .chat__icon{
    opacity: 0;
}

.chat-screen .chat__messages{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    padding-top: 30px;
    border-top: 1px solid #f7f7f7;
}

.chat__messages .chat__timestamp{
    background-color: white;
    padding: 5px 15px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    text-transform: uppercase;/*모든 텍스트를 대문자로 바꿈*/
    font-weight: 700;
}

.message{
    display: flex;
    align-items: flex-start;
    width: auto;
    margin-bottom: 15px;

}

.incoming-message{
    align-self: flex-start;
}

@keyframes spin-img{
    from{
        transform: none;
    }
    to{
        transform:rotateY(1turn);
    }
}

.incoming-message img{
    width: 30px;
    border-radius: 15px;
    margin-right: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    animation: spin-img 3s ease-in-out infinite;
}

.sent-message{
    align-self: flex-end;
}

.message .message__bubble{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    padding:  10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
}

.incoming-message .message__author{
    margin-top: 25px;
    display: block;
    font-weight: 600;
    font-size: 12px;
}

.incoming-message .message__bubble{
    border-bottom-left-radius: 0px;
    background-image: linear-gradient(to right, #918be7, #b7ebe2);
}

.sent-message .message__bubble{
    border-bottom-right-radius: 0px;
    background-image: linear-gradient(to left, #93f7de, #ec8937);
}

@keyframes incoming-ani{
    from{
        opacity: 0;
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}

.incoming-message{
    animation: incoming-ani .8s ease-out forwards;
}

@keyframes sent-ani{
    from{
        opacity: 0;
        transform: translateX(200px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}

.sent-message{
    animation: sent-ani .8s ease-out forwards;
}